.header-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button{
    width:120px;
    height:40px;
    line-height:40px;
    background: #000;
    cursor: pointer;
  }
}